# Python cache
__pycache__/
*.py[cod]

# Flask instance folder
instance/

# SQLite databases
*.db
*.sqlite3

# Environment files
.env
.venv/
venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Uploads (optional - remove this if you WANT uploaded images in Git)
uploads/

# Log files
*.log
